

body {
	overflow: hidden;
	height: 100%;
	background-color: #FF6AD5;
	background-image: url('/images/vaporgrid.jpg');
}

/*=*/

#first-row {
	position: relative;
	margin: 2px;
	padding: 15px;
	height: 85px;
	width: 100%;
	
}

/*==*/

#top-header {

	margin: 2px auto;
	padding: 15px;
	width: 68%;
	height: 100%;
}

/*===*/
#view-title {
	width: 100%;
	display: block;
	vertical-align: middle;
	font-weight: 900;
	user-select: none;
	text-shadow: #818181 2px 2px 2px;
	border-bottom: 4px solid #6dff6c;
	letter-spacing: 6px;
}

#view-title:after {
	content: '';
    width: 100%;
    height: 4px;
    display: block;
    position: relative;
    top: 7px;
    z-index: 1;
    left: 2px;
    background: #fe81df;
}

#view-mode-panel {
	display: inline;
	position: relative;
	margin: 2px auto;
	padding: 15px;
	width: 30%;
	height: 100%;
}

#view-mode-btns {
	display: inline-block;
	user-select: none;
}

/*=*/

#second-row {
	position: relative;
	margin: 2px;
	padding: 15px;
	height: 500px;
	width: 500;
}

/*==*/

#content-panel {
	height: 100%;
	width: 68%;
	margin: 0px;
	padding: 0px;
}

/*===*/

#content-panel-header {
	user-select: none;
}

/*====*/
#task-bar {

	margin: 3px;
	padding: 3px;
	width: 100%;
	vertical-align: middle;
}

#crud-toolbar {
	padding:1px;
	margin:1px;
}

#crud-toolbar button{
	padding:1px;
	height: 20px;
	width: 50px;
}




/*=====*/


/*===*/

#text-content {

	margin: 2px;
	width: 100%;
	height: 78%;
}

/*====*/

#textarea-content {
	position: relative;
	margin: 0px 3px 3px 3px;
	width: 99%;
	height: 78%;
	outline: none;
	resize: none;
	border: 1px solid;
    border-top-color: #000;
    border-left-color: #000;
    border-right-color: #dfdfdf;
    border-bottom-color: #dfdfdf;
}


/*==*/

#sidebar-panel {
	position: relative;
	height: 100%;
	width: 30%;
	position: relative;
	margin: 2px;
	padding: 2px;
	overflow: auto;
	display: inline;
	background-color: rgba(255,255,255,0.7);
}

/*===*/

#sidebar-list-items {
	display: block;
	
	margin: 5px;
	padding: 10px;

}

.sidebar-list-item {
	position: relative;
	display: block;
	padding: 5px;
	margin: 5px;
	height: 100%;
	width: 100%;
	display: flex;
	background-color: rgba(173,140,255,0.7);

}

.list-item-info {
	border: 1px solid #000;
	margin: 2px auto;
	padding: 5px;
	height: 100%;
	width: 70%;
}

.list-item-title {
	display: inline-block;
	margin: 2px auto;
	width: 100%;
	vertical-align: middle;
}

.list-item-title:hover {
	display: inline-block;
	margin: 2px auto;
	width: 100%;
	vertical-align: middle;
	text-decoration: underline;
	cursor:pointer;
}

.list-item-sub {

	display: inline-block;
	margin: 2px auto;
	width: 100%;
	vertical-align: middle;
}

.list-item-check {
	border: 1px solid #000;
	margin: 2px auto;
	padding: 10px;
	width: 20%;
}

ul.toolbar {
    list-style: none;
    padding: 2px 0;
    margin: 0;
    user-select: none;
}

ul.toolbar > li {
    display: inline-block;
    padding: 0 5px;
    user-select: none;
}

ul.toolbar > li:hover {
    padding: 0 5px;
    border: 1px solid;
  	border-top-color: #dfdfdf;
  	border-left-color: #dfdfdf;
  	border-right-color: #808080;
  	border-bottom-color: #808080;
}

ul.toolbar > li:active {
  box-shadow: 1px 1px 0 0 #000 inset;
  border-top-color: #808080;
  border-left-color: #808080;
  border-right-color: #dfdfdf;
  border-bottom-color: #dfdfdf;
}

.is-done {
	width: 20px;
	height: 20px;
	position: relative;
	top: 50%;
	left: 50%;
}

.is-done-box {
	width: 20%;
	height: 100%;
}
